@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-win: #39FF14;
  --color-win: 57 255 20;
  --on-win: #111827;
  --color-on-win: 17 24 39;
  --accent-earn: #FFD700;
  --color-earn: 255 215 0;
}
